<%= form_for(@tromple) do |f| %>
  <% if @tromple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tromple.errors.count, "error") %> prohibited this tromple from being saved:</h2>

      <ul>
      <% @tromple.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br />
    <%= f.number_field :intensity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
