<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tromple.name %>
</p>

<p>
  <b>Intensity:</b>
  <%= @tromple.intensity %>
</p>


<%= link_to 'Edit', edit_tromple_path(@tromple) %> |
<%= link_to 'Back', tromples_path %>
