<h1>DIY::Thread.profile</h1>
<% if @started %>
  <%= link_to "stop", profile_stop_url(:params => request.query_parameters), :class => "btn" %>
  (<b>running</b>, sampled <%= @sample_count %> times)
<% else %>
  <%= link_to "start", profile_start_url(:params => request.query_parameters), :class => "btn" %>
  (<b>not running</b>, sampled <%= @sample_count %> times)
<% end %>
<br />
<br />

<%= toggle_link("framework")%>
<%= toggle_link("profiler")%>
<br />
<br />

<table class="table table-bordered table-striped">
  <tr>
    <th>Count</th>
    <th>File</th>
    <th>Method</th>
    <th>Line</th>
  </tr>
<% for call in @calls %>
  <tr>
    <td><%= call[1] %></td>
    <td><%= clean_file(call[0][0]) %></td>
    <td><%= clean_method(call[0][2]) %></td>
    <td><%= call[0][1] %></td>
  </tr>
<% end %>
</table>
